.design {
  margin-bottom: -20px;

  &__list{
    display: grid;
    min-height: 525px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 34px;
    grid-column-gap: 30px;
    margin-bottom: 120px;
  }

  &__video {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__video-link {

    &:hover {
      border: 15px solid $btn;
      border-radius: 50%;
      opacity: 1;
    }
  }  
}

.design-cart {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &__title {
    display: block;
    color: $title;
    font-size: 20px;
    max-width: 200px;
    margin-top: 40px;
    margin-left: 35px;
    margin-bottom: 15px;
  }

  &__text {
    color: $btn;
    margin-left: 35px;
  }
}

