.goods {
  margin-bottom: 100px;

  &__items {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    position: relative;
    
    & + & {
      margin-left: 30px;
    }
  }

  &__inner {  
    background-color: #feefe2;
    padding: 100px 150px 100px 390px;
  }

  &__title {
    font-size: 26px;
    line-height: 1.2;
    color: $title-slider;
    margin-bottom: 25px;
  }

  &__text {
    @extend %Rubik-400;
    color: $title-slider;
    line-height: 1.9;
    margin-bottom: 55px;
  }

  &__btn {
    font-size: 15px;
    color: $menu;
    @extend %Rubik-500;
    padding: 23px 86px 23px 19px;
    border: 1px solid #b3b6b5;
    border-radius: 4px;
    position: relative;

      &::after {
      content: "";
      position: absolute;
      background-image: url(../images/goods/arrow-right.svg);
      background-repeat: no-repeat;
      background-size: cover;
      width: 22px;
      height: 9px;
      top: 27px;
      right: 20px;
    }    
  }

  &__img {
    position: absolute;
    left: 140px;
    bottom: 86px;
    width: 233px;
    height: 405px;
  }
}


