.products {
  margin-bottom: 170px;

  &__title {
    margin-top: 72px;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 30px;
    margin-bottom: 180px;
  }  

  &__bottom {
    display: flex;
    justify-content: space-between;
  }
}

.button-nav {
  display: flex;
  justify-content: center;  

  &__list {
    margin-bottom: 80px;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  &__item {
    padding: 0;
    border: none;
    background-color: $white;
    color: #8b8b8b;
    cursor: pointer;
    outline: transparent;    
  }

  .mixitup-control-active {
    color: $title;
  }
}

.product-cart {
  position: relative;  
  max-height: 380px;
  max-width: 270px;
  width: 100%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
  transition: transform 0.3s;

  &:hover {
    transform: scale(1.02);

      .product-cart__block {
        transform: translateY(0);
    }
  }

  &__img {
    margin: auto;
    object-fit: cover;
  }

  &__title {
    color: $title-slider; 
    font-size: 16px;
    line-height: 2.2;
    @extend %DMSans-500;
    text-align: center;
  }

  &__price {
    @extend .product-cart__title;
    color: $btn;
    margin-bottom: 20px;
  }

  &__block {
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: 152px;
    left: 0;
    right: 0; 
    transform: translateY(-1000000%);
  }

  &__svg {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $white;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin: 0 7px;
    border: none;
    cursor: pointer;
    transition: all 0.3s;
    outline: transparent;    

    &:hover {
      background-color: $btn;

      svg path {
        fill: $white
      }
    }
  }
}

.goods {
  position: relative;
  flex-grow: 1;

  &:not(:last-child) {
    margin-right: 30px;
  } 

  &__inner {
    max-height: 390px;
    background-color: #feefe2;
    padding-bottom: 123px;
  }
  
  &__wrapper {
    max-width: 435px;    
    margin-left: auto;
  }

  &__title {
    max-width: 305px;
    padding-top: 100px;
    font-size: 26px;
    line-height: 1.2;
    color: $title-slider;
    margin-bottom: 25px;
  }

  &__text {
    max-width: 335px;
    @extend %Rubik-400;
    color: $title-slider;
    line-height: 1.9;
    margin-bottom: 55px;
  }

  &__link {
    font-size: 15px;
    color: $menu;
    @extend %Rubik-500;
    padding: 23px 86px 23px 19px;
    border: 1px solid #b3b6b5;
    border-radius: 4px;
    position: relative;

      &::after {
      content: "";
      position: absolute;
      background-image: url(../images/goods/arrow-right.svg);
      background-repeat: no-repeat;
      background-size: cover;
      width: 22px;
      height: 9px;
      top: 27px;
      right: 20px;
    }    
  }

  &__img {
    position: absolute;
    left: 140px;
    bottom: 86px;
    width: 233px;
    height: 405px;
    
  }
}