.slider {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    background-image: url('../../images/ellipse.png');
    right: 185px;
    top: 100px;
    width: 609px;
    height: 634px;
  }

  &__wrapper {
    background-color: $slider;
    padding: 220px 0 45px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    max-width: 470px;
    @extend %Rubik-500;
    font-size: 72px;
    color: $title-slider;
    line-height: 70px;
    text-transform: uppercase;
    margin-bottom: 40px;    
  }
  
  &__text {
    max-width: 370px;
    @extend %Rubik-400;
    font-size: 18px;
    color: $menu;
    line-height: 30px;
    margin-bottom: 35px;
  }

  &__link {
    @extend %Rubik-500;
    background-color: $btn;
    color: $white;
    font-size: 15px;
    line-height: 12px;
    padding: 20px 100px 20px 20px;
    outline-color: $btn;
    margin-bottom: 200px;
    position: relative;

      &::after {
      content: "";
      position: absolute;
      background-image: url(../images/arrow-right.svg);
      background-repeat: no-repeat;
      background-size: cover;
      width: 22px;
      height: 9px;
      top: 27px;
      right: 20px;
    }
  }

  .slick-dots {     
    display: flex;  
    justify-content: center;
    margin-top: 205px;

    li {
      padding: 0 5px;

      button {
        padding: 0;
        font-size: 11px;
        background-color: #fde3cc;
        border: none;
        border-radius: 50%;
        width: 29px;
        height: 29px;
      }

      &.slick-active {

        button {
          background-color: #fff;
        }
      }
    }
  }   
}