.services{

  &__items {
    background-color: #fef7f0;
    display: flex;
    justify-content: space-between;  
  }

  &__item {
    display: flex;
    align-items: end;
    max-width: 590px;
    padding: 45px 140px;
    border-right: 1px solid #e8e4df;

    &:last-child {
      border-right: none;
    }
  }

  &__img {
    margin-right: 25px;
  }

  &__title {
    @extend %DMSans-700;
    font-size: 18px;
    color: #414141;
    line-height: 1;
    margin-bottom: 10px;
  }

  &__text {
    @extend %DMSans-400;
    color: #585858;
    line-height: 1.9;
  }
}

